<% include header %>
    <% include sidebar %>
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Add Booth</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"> Add Booth</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
               
                <div class="row">
                
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Add Booth</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <!-- Contact -->
                                    <form id="addBooth">
                                        <div class="form-group">
                                           <select class="form-control" name="dis_id" id="dis_id" required>
                                               <option value="">Select District</option>
                                               <% 
                                                   
                                                    disdata.map(x => {  
                                                %>
                                                    <option value="<%= x.dis_id %>"><%= x.name.toUpperCase() %></option>
                                                <% }) %>
                                           </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="ac_id" id="ac_id" required>
                                                <option value="">Select Ac</option>
                                            </select>
                                        </div>
                                       
                                        <div class="form-group">
                                            <input type="text" name="booth" class="form-control"  placeholder="Enter Booth" required />
                                        </div>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-title">
                <h4>Booth List</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Ac Id</th>
                                <th>District Id</th>
                                <th>Booth Id</th>
                                <th>Booth Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% 
                                var q=1;
                                data.map(x => {  
                            %>
                            <tr>
                                <td><%= q++ %></td>
                                <td><%= x.ac_id %></td>
                                <td><%= x.dis_id %></td>
                                <td><%= x.booth_id %></td>
                                <td><%= x.name %></td>
                                <td><a href="http://localhost:1000/admin/editBooth?boothId=<%= x.booth_id %>">Edit</a>
                                </td>
                            </tr>

                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <% include footer %>